@import url('./sections/01-base.css');
@import url('./sections/02-login.css');
@import url('./sections/03-layout.css');
@import url('./sections/04-dashboard.css');
@import url('./sections/05-calendar.css');
@import url('./sections/06-forms-tables.css');
@import url('./sections/07-responsive.css');
@import url('./sections/08-theme-palette.css');
